{% load static %}

<!DOCTYPE html>
<html>
    <head>
        

    </head>
    <body>
        {{ gitLogin|json_script:"git-name" }}
        {{ djangoUser|json_script:"django-name" }}
        <h1>Testing Vue...</h1>
        <h2>Git Auth Response: {{response}}</h2>
        <h2>Github Username: {{gitLogin}}</h2>
        <h2>Django Username: {{djangoUser}}</h2>
        csrf test : {% csrf_token %}

      
        <div id="app"></div>

        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
        <link href="{% static 'src/vue/dist/css/app.css' %}" rel=stylesheet>
    </body>
</html>



